<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Pokemon PC</title>
</head>
<body>
    <img src="/PokemonLogo.png" alt="Pokemon Logo" width="341" height="125"><br>
    <p class="homePageText">
        <a href="/Equipped">View equipped pokemon</a><br><br>
        <a href="/Withdraw">Withdraw</a><br><br>
        <a href="/Deposit">Deposit</a><br><br>
        <a href="/Pokedex">Pokedex</a><br><br>
        <a href="/Release">Release</a><br><br>
        <a href="/UserGuide">User Guide</a>
    </p>
</body>
</html>