<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Guide</title>
</head>
<body>
    <img src="/PokemonLogo.png" alt="Pokemon Logo" width="341" height="125"><br>
    <h1>User Guide</h1>
    <h3>Welcome to your Pokémon PC!</h2>
    <ul>
        <li>
            To view all the Pokémon you can capture (add to your box), select the Pokedex on the Home Page.
        </li>
        <li>
            Before you can equip a Pokémon, you must first deposit it. Once deposited, it can be withdrawn.
        </li>
        <li>
            You can only equip 6 Pokémon at a time, and you cannot have duplicates. To switch out a Pokémon, first deposit one of your currently equipped Pokémon, then withdraw the one you want.
        </li>
        <li>
            To see the moves of your equipped Pokémon, select the View Equipped Pokémon link.
        </li>
        <li>
            To release a Pokémon, it must not be equipped and must be in your box. Once released, it will be removed from your box.
        </li>
    </ul>
    <a href="/">HOME</a>
</body>
</html>